.top .first, .top .first1, .top .first2, .top .first3, .cent1, .cent2, .cent3, .fot1, .fot2 {
  -webkit-box-shadow: 4px 4px 2px #c3c3c3;
  box-shadow: 4px 4px 2px #c3c3c3; }

.dash1, .dash2:hover, .top .icn, .center .immg, .yellow, .blue {
  -webkit-box-shadow: 3px 3px 2px #c3c3c3;
  box-shadow: 3px 3px 2px #c3c3c3; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #eaeaea;
  height: 1045px; }

.nav {
  height: 100vh;
  background-color: #f6f6f6;
  border-right: 2px solid #c7c7c7;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed; }

h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }

.line {
  border: 1px solid #e3e3e3;
  width: 100%;
  display: block;
  margin-bottom: 30px; }

.navlist {
  width: 100%;
  list-style-type: none; }
  .navlist li {
    margin: 10px;
    margin-bottom: 19px;
    margin-top: 15px; }
    .navlist li a {
      color: black;
      text-decoration: none;
      font-size: 12px;
      padding-left: 44px; }

.dash1 {
  color: white !important;
  padding: 10px 40px 10px 5px;
  background-color: #c32056;
  background-image: url(../icons/dashboard_white.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 9px center; }

.dash2 {
  padding: 10px 34px 10px 5px;
  background-image: url(../icons/account_gray.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 9px center; }

.dash2:hover {
  background-color: #c32056;
  color: white;
  background-image: url(../icons/account_white.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 9px center; }

.dash3 {
  padding: 10px 65px 10px 5px;
  background-image: url(../icons/map_gray.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 9px center; }

.dash3:hover {
  background-color: #c32056;
  color: white;
  background-image: url(../icons/map_white.png);
  background-repeat: no-repeat;
  background-size: 12px 15px;
  background-position: 13px center; }

.dash4 {
  padding: 10px 29px 10px 5px;
  background-image: url(../icons/notify_gray.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 9px center; }

.dash4:hover {
  background-color: #c32056;
  color: white;
  background-image: url(../icons/notify_white.png);
  background-repeat: no-repeat;
  background-size: 22px 15px;
  background-position: 9px center; }

.dash5 {
  padding: 10px 53px 10px 5px;
  background-image: url(../icons/support_gray.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 9px center; }

.dash5:hover {
  background-color: #c32056;
  color: white;
  background-image: url(../icons/web.svg);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 9px center; }

.content {
  margin-left: 177px;
  margin-right: 10px; }
  .content h3 {
    font-size: 22px;
    padding-top: 20px;
    margin-left: 25px; }

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .top .icn {
    width: 23%;
    position: relative;
    top: -19px;
    left: 20px; }
  .top .first {
    width: 23.5%;
    height: 138px;
    background-color: #f6f6f6;
    margin-top: 60px; }
  .top a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center; }
  .top a:hover {
    text-decoration: underline; }
  .top .first1 {
    width: 23.5%;
    height: 138px;
    background-color: #f6f6f6;
    margin-top: 60px; }
  .top .first2 {
    width: 23.5%;
    height: 138px;
    background-color: #f6f6f6;
    margin-top: 60px; }
  .top .first3 {
    width: 23.5%;
    height: 138px;
    background-color: #f6f6f6;
    margin-top: 60px; }

.txt {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 10px; }
  .txt span {
    float: right;
    font-size: 30px; }

hr {
  width: 91%;
  background-color: #e5e5e5;
  margin-left: 5%;
  border: none;
  border-bottom: 2px solid #e5e5e5; }

.hr {
  width: 91%;
  height: 2px;
  display: block;
  background-color: #e5e5e5;
  margin-left: 5%;
  margin-top: 8%; }

@-moz-document url-prefix() {
  .hr {
    position: relative;
    top: 20px; }
  .foot {
    margin-top: 6px !important; }
  .foot2 {
    margin-top: 27px !important; }
  .foot3 {
    margin-top: 27px !important; }
  .foot4 {
    margin-top: 27px !important; } }

.foot {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -9px;
  margin-left: 26px; }
  .foot .icnfoot {
    width: 17px;
    margin-right: 8px; }
  .foot .tlb {
    font-size: 14px;
    color: #b3bcc5; }

.foot2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 26px; }
  .foot2 .icnfoot2 {
    width: 17px;
    margin-right: 10px; }
  .foot2 .tlb2 {
    font-size: 14px;
    color: #b3bcc5; }

.foot3 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px; }
  .foot3 .icnfoot3 {
    width: 17px;
    margin-right: 10px; }
  .foot3 .tlb3 {
    font-size: 14px;
    color: #b3bcc5; }

.foot4 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 26px; }
  .foot4 .icnfoot4 {
    width: 17px;
    margin-right: 10px; }
  .foot4 .tlb4 {
    font-size: 14px;
    color: #b3bcc5; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 60px; }
  .center .immg {
    width: 87%;
    height: 157px;
    position: relative;
    top: -29px;
    left: 6.5%; }

.cent1 {
  width: 32%;
  height: 250px;
  background-color: #f6f6f6; }

.cent2 {
  width: 32%;
  height: 250px;
  background-color: #f6f6f6; }

.cent3 {
  width: 32%;
  height: 250px;
  background-color: #f6f6f6; }

.ttx {
  font-size: 20px;
  margin-left: 5%;
  color: #71757d; }

.ttx2 {
  font-size: 16px;
  margin-left: 5%;
  color: #71757d; }

.fmd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 5%;
  font-size: 13px;
  color: #71757d; }

.nbv {
  width: 15px;
  margin-right: 8px; }

.upline {
  margin-top: -10px;
  margin-bottom: 10px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 60px; }

.fot1 {
  width: 47%;
  height: 300px;
  background-color: #f6f6f6; }

.fot2 {
  width: 47%;
  height: 300px;
  background-color: #f6f6f6; }

.yellow {
  width: 90%;
  height: 70px;
  background-color: #d89e24;
  margin-left: 5%;
  position: relative;
  top: -20px; }

.blue {
  width: 85%;
  height: 80px;
  background-color: #274d97;
  margin-left: 5%;
  position: relative;
  top: -20px;
  color: white;
  padding-top: 20px;
  padding-left: 5%;
  font-size: 25px; }

.list2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 16px;
  left: 4%; }
  .list2 li {
    margin-right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    color: white; }
    .list2 li img {
      margin-right: 7%; }
    .list2 li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center;
      padding: 8px 13px 9px 12px;
      color: white;
      text-decoration: none; }
    .list2 li a:hover {
      background-color: #dead49; }

.alt2 {
  background-color: #dead49; }

.fim {
  width: 3%;
  margin-left: 8%;
  margin-top: 11px; }

.fim2 {
  width: 3%;
  margin-left: 2%; }

.forma {
  margin-left: 9%;
  margin-right: 2%; }

.letleft {
  margin-left: 14%; }

.fsz {
  font-size: 85%; }

.bloespan {
  margin-top: 20px;
  display: block;
  font-size: 13px; }

.table {
  font-size: 120%; }
  .table ul {
    list-style-type: none; }
    .table ul li {
      display: inline-block; }
    .table ul li:nth-child(1) {
      margin-left: 9%;
      margin-bottom: 5px;
      margin-top: 5px; }
    .table ul li:nth-child(2) {
      margin-left: 8%;
      margin-bottom: 5px;
      margin-top: 5px; }
    .table ul li:nth-child(3) {
      margin-left: 8%;
      margin-bottom: 5px;
      margin-top: 5px; }
    .table ul li:nth-child(4) {
      margin-left: 8%;
      margin-bottom: 5px;
      margin-top: 5px; }

.blues {
  color: #72b0ad; }

.f1 {
  margin-left: 9% !important; }

.f2 {
  margin-left: 6% !important; }

.f3 {
  margin-left: 16% !important;
  padding-right: 0% !important; }

.f4 {
  margin-left: 10% !important; }

.footerline {
  width: 100vw;
  display: block;
  height: 3px;
  background-color: #d7d7d7;
  margin-top: 50px; }

.footertxt {
  margin-top: 28px;
  margin-left: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footertxt .ftd {
    font-size: 13px;
    color: #554454;
    margin-right: 20px; }
  .footertxt ul {
    list-style-type: none;
    width: 25%; }
    .footertxt ul li {
      display: inline-block;
      margin-left: 5%; }
      .footertxt ul li a {
        color: #554454;
        text-decoration: none;
        font-family: arial;
        font-size: 13px; }
      .footertxt ul li a:hover {
        text-decoration: underline; }

.navvv {
  display: none; }
