
%shadow
  box-shadow: 4px 4px 2px #c3c3c3

%shadowimg
	box-shadow: 3px 3px 2px #c3c3c3

*
 padding: 0
 margin: 0

body
	background-color: #eaeaea
	height: 1045px
	

	
.nav
	height: 100vh
	background-color: #f6f6f6
	border-right: 2px solid #c7c7c7
	width: 160px
	display: flex
	flex-direction: column
	align-items: center
	position: fixed


h4
  font-size: 20px
  margin-top: 20px
  margin-bottom: 20px

.line
	border: 1px solid #e3e3e3
	width: 100%
	display: block
	margin-bottom: 30px

.navlist
	width: 100%
	list-style-type: none
	li
	  margin: 10px
	  margin-bottom: 19px
	  margin-top: 15px
	  a
	   color: black
	   text-decoration: none
	   font-size: 12px
	   padding-left: 44px

.dash1 
	color: white !important
	padding: 10px 40px 10px 5px
	background-color: #c32056
	background-image: url(../icons/dashboard_white.svg)
	background-repeat: no-repeat
	background-size: 20px 20px
	background-position: 9px center
	@extend %shadowimg



.dash2 
	padding: 10px 34px 10px 5px
	background-image: url(../icons/account_gray.svg)
	background-repeat: no-repeat
	background-size: 20px 20px
	background-position: 9px center
.dash2:hover
	background-color: #c32056
	color: white
	background-image: url(../icons/account_white.svg)
	background-repeat: no-repeat
	background-size: 20px 20px
	background-position: 9px center
	@extend %shadowimg



.dash3 
	padding: 10px 65px 10px 5px
	background-image: url(../icons/map_gray.svg)
	background-repeat: no-repeat
	background-size: 20px 20px
	background-position: 9px center
.dash3:hover
	background-color: #c32056
	color: white
	background-image: url(../icons/map_white.png)
	background-repeat: no-repeat
	background-size: 12px 15px
	background-position: 13px center

.dash4
	padding: 10px 29px 10px 5px
	background-image: url(../icons/notify_gray.svg)
	background-repeat: no-repeat
	background-size: 20px 20px
	background-position: 9px center
.dash4:hover
	background-color: #c32056
	color: white
	background-image: url(../icons/notify_white.png)
	background-repeat: no-repeat
	background-size: 22px 15px
	background-position: 9px center

.dash5
	padding: 10px 53px 10px 5px
	background-image: url(../icons/support_gray.svg)
	background-repeat: no-repeat
	background-size: 20px 20px
	background-position: 9px center
.dash5:hover
	background-color: #c32056
	color: white
	background-image: url(../icons/web.svg)
	background-repeat: no-repeat
	background-size: 17px 17px
	background-position: 9px center

.content
	margin-left: 193px
	margin-right: 23px
	
	h3
	 font-size: 22px
	 padding-top: 20px
	 margin-left: 25px
	
.top
	display: flex
	justify-content: space-between
	.icn
	  width: 23%
	  position: relative
	  top: -19px
	  left: 20px
	  @extend %shadowimg
	.first
	 width: 23.5%
	 height: 178px
	 background-color: #f6f6f6
	 margin-top: 60px
	 @extend %shadow
	a
	 text-decoration: none
	 display: flex
	 align-self: center
	a:hover
	 text-decoration: underline
		

	.first1
	 width: 23.5%
	 height: 178px
	 background-color: #f6f6f6
	 margin-top: 60px
	 @extend %shadow	

	.first2
	 width: 23.5%
	 height: 178px
	 background-color: #f6f6f6
	 margin-top: 60px
	 @extend %shadow

	.first3
	 width: 23.5%
	 height: 178px
	 background-color: #f6f6f6
	 margin-top: 60px
	 @extend %shadow
	 	
.txt
	float: right
	display: flex
	flex-direction: column
	align-items: flex-end
	margin-top: 10px
	margin-right: 10px
	span
		float: right
		font-size: 30px

hr
 width: 91%
 background-color: #e5e5e5
 margin-left: 5%
 border: none
 border-bottom: 2px solid #e5e5e5


.hr
 width: 91%
 height: 2px
 display: block
 background-color: #e5e5e5
 margin-left: 5%
 margin-top: 7%


@-moz-document url-prefix()
	.hr
	  position: relative
	  top: 20px
	  margin-top: 0%
	.foot
	  margin-top: 21px !important
	.foot2
	   margin-top:40px !important
	.foot3
	    margin-top: 40px !important
	.foot4
	   margin-top: 40px !important	   
	
	.mrt
		margin-top: 1% !important
		margin-bottom: 1% !important

   

	



.foot
	list-style-type: none
	display: flex
	align-items: center
	margin-top: 0px
	margin-left: 26px
	.icnfoot
	 width: 17px
	 margin-right: 8px
	.tlb
	  font-size: 14px
	  color: #b3bcc5

.foot2
	list-style-type: none
	display: flex
	align-items: center
	margin-top: 18px
	margin-left: 26px
	.icnfoot2
	 width: 17px
	 margin-right: 10px
	.tlb2
	  font-size: 14px
	  color: #b3bcc5

.foot3
	list-style-type: none
	display: flex
	align-items: center
	margin-top: 18px
	margin-left: 20px
	.icnfoot3
	 width: 17px
	 margin-right: 10px
	.tlb3
	  font-size: 14px
	  color: #b3bcc5

.foot4
	list-style-type: none
	display: flex
	align-items: center
	margin-top: 18px
	margin-left: 26px
	.icnfoot4
	 width: 17px
	 margin-right: 10px
	.tlb4
	  font-size: 14px
	  color: #b3bcc5


.center
	display: flex
	justify-content: space-between
	margin-top: 60px
	.immg
	  width: 87%
	  height: 157px
	  position: relative
	  top: -29px
	  left: 6.5%
	  @extend %shadowimg

.cent1
	@extend %shadow
	width: 32%
	height: 250px
	background-color: #f6f6f6

.cent2
	@extend %shadow
	width: 32%
	height: 250px
	background-color: #f6f6f6
.cent3
	@extend %shadow
	width: 32%
	height: 250px
	background-color: #f6f6f6

.ttx
	font-size: 20px
	margin-left: 5%
	color: #71757d
.ttx2
	font-size: 16px
	margin-left: 5%
	color: #71757d


.fmd
	display: flex
	align-self: center
	margin-left: 5%
	font-size: 13px
	color: #71757d

.nbv
	width: 15px
	margin-right: 8px

.upline
	margin-top: -10px
	margin-bottom: 10px

.footer
	display: flex
	justify-content: space-between
	margin-top: 60px

.fot1
	width: 47%
	height: 325px
	background-color: #f6f6f6
	@extend %shadow



.fot2
	width: 47%
	height: 325px
	background-color: #f6f6f6
	@extend %shadow
.yellow
	width: 90%
	height: 70px
	background-color: #d89e24
	margin-left: 5%
	position: relative
	top: -20px
	@extend %shadowimg

.blue
	width: 85%
	height: 80px
	background-color: #274d97
	margin-left: 5%
	position: relative
	top: -20px
	color: white
	padding-top: 20px
	padding-left: 5%
	font-size: 25px
	@extend %shadowimg

    
.list2
	list-style-type: none
	display: flex
	position: relative
	top: 16px
	left: 4%
	li
	 margin-right: 2%
	 display: flex
	 align-self: center
	 color: white
		img
		 margin-right: 7%
		a
		 display: flex
		 align-self: center
		 padding: 8px 13px 9px 12px
		 color: white
		 text-decoration: none
		a:hover
		  background-color: #dead49
.alt2
 background-color: #dead49	

.fim
	width: 3%
	float: right
	margin-top: 11px
	margin-right: 5%
	margin-left: 1.8%

.fim2
	width: 3%
	margin-left: 2%
	float: right
	margin-top: 11px
	

.forma
	margin-left: 9%
	margin-right: 2%
	
.letleft
	margin-left: 14%

.fsz
  font-size: 85%
 

.mrt
	margin-top: 1.5%
	margin-bottom: 1.5%

.bloespan
	margin-top: 20px
	display: block
	font-size: 13px

.table
	font-size: 120%
	ul
	 list-style-type: none
		li
		 display: inline-block
		li:nth-child(1)
		   margin-left: 11%
		   margin-bottom: 8px
		   margin-top: 8px
		li:nth-child(2)
		   margin-left: 14%
		   margin-bottom: 8px
		   margin-top: 8px
		li:nth-child(3)
		   margin-left: 16%
		   margin-bottom: 8px
		   margin-top: 8px
		li:nth-child(4)
		   margin-left: 17%
		   margin-bottom: 8px
		   margin-top: 8px

.blues
	color: #72b0ad

.f1
  margin-left: 11% !important
.f2
  margin-left: 12% !important
.f3
  margin-left: 23% !important
  padding-right: 10% !important
.f4
  margin-left: 8% !important


.footerline
	width: 100vw
	display: block
	height: 3px
	background-color: #d7d7d7
	margin-top: 50px

.footertxt
	margin-top: 28px
	margin-left: 30px
	margin-bottom: 20px
	display: flex
	justify-content: space-between
	.ftd
	  font-size: 13px
	  color: #554454
	  margin-right: 20px
	ul
	 list-style-type: none
	 width: 25%
		li
		 display: inline-block
		 margin-left: 5%
			a
			 color: #554454
			 text-decoration: none
			 font-family: arial
			 font-size: 13px
			a:hover
			 text-decoration: underline

// ========================



.navvv
	display: none
